.number-input {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #f9f9f9;
  }
  
  .number-input button {
    background-color: #fff;
    border: none;
    color: #555;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    user-select: none;
  }
  
  .number-input button:disabled {
    color: #ddd;
    cursor: not-allowed;
  }
  
  .number-input span {
    margin: 0 10px;
    font-size: 18px;
  }
  