@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --base-green: #222c23;
  --base-orange: #d39e3b;
  --base-green: #80af3a;
  --dark-green: #5a773e;
  --base-gray: #7c8184;
  --base-red: #ba3635;
  --base-pink: #9b397f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.lily-script-one-regular {
  font-family: 'Lily Script One', system-ui;
  font-weight: 400;
  font-style: normal;
}

.jost-regular {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jost-bold {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* disable react uncought error */
iframe {
  display: none;
}

.base-orange {
  background-color: #ffbb13;
}

.breadcrumb-h1 {
  font-family: 'Jost', sans-serif;
  font-size: 47.27px;
  font-weight: 600;
  line-height: 53.57px;
  letter-spacing: -0.005em;
  text-align: left;
  background: linear-gradient(180deg, #a4bc46, rgba(0, 0, 0, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
